* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #c7edf2;
  font-family: Cambria, Georgia, serif;
}
.contenedor {
  background-color:/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#001747+1,01273f+27,010584+63,131313+100 */
    #001747; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #001747 1%,
    #01273f 27%,
    #010584 63%,
    #131313 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #001747 1%,
    #01273f 27%,
    #010584 63%,
    #131313 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #001747 1%,
    #01273f 27%,
    #010584 63%,
    #131313 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001747', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.titul {
  color: #fff;
  text-align: center;
}
.titul .tit {
  font-size: 24px;
  text-align: left;
  padding-left: 25px;
}
.form {
  background-color: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#999999+0,666666+9,0205d1+26,010584+54,131313+100 */
    #999999; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #999999 0%,
    #666666 9%,
    #0205d1 26%,
    #010584 54%,
    #131313 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #999999 0%,
    #666666 9%,
    #0205d1 26%,
    #010584 54%,
    #131313 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #999999 0%,
    #666666 9%,
    #0205d1 26%,
    #010584 54%,
    #131313 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
  color: #ffff;
  margin: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 3);
}
form {
  padding: 0.1em;
}
.form {
  padding-left: 5%;
}
.form form label {
  padding-left: 0.01em;
}

.form form > titul2:hover {
  color: rgb(98, 185, 201);
}
.form form input {
  width: 75%;
  padding-top: 0.2em;
  border: none;
  background: none;
  outline: 2;
  color: #fff;
  border-bottom: 1px solid #d6eaf8;
}
.form form input:hover {
  border-bottom: 1px solid #0f9aeb;
}
form input[type="radio"] {
  width: 45%;
  height: 45%;
}

input[type="radio"]:checked::after {
  display: none;
  border-end-end-radius: 2em;
}
